@model MongoModels.Reto

@{
    ViewBag.Title = "Reto";
}
@section pagename{
    Reto
    <small>
        <i class="ace-icon fa fa-angle-double-right"></i>
        Creación de Retos.
    </small>
}
<div class="col-lg-8">
    
    <div class="form form-horizontal">
        @*@Html.AntiForgeryToken()
        @Html.ValidationSummary(true)*@
            <ol>
                <li>
                    <div class="form-group">
                        <label for="Division" class="col-sm-3 control-label no-padding-right"> Division </label>
                        <div class="col-sm-9">
                            <select data-bind=" options: divisiones, optionsText: 'name', optionsValue:'id', value: reto.division, optionsCaption: 'Elija la division...'"></select>
                            @*@Html.DropDownListFor(m => m.Division, (SelectList)ViewBag.Divisiones, "--Seleccione la division--", new { @class = "input col-xs-10 col-sm-7 form-control" })
                                @Html.ValidationMessageFor(model => model.Division)*@
                        </div>
                    </div>
                </li>

                <li>
                    <div class="form-group">
                        <label for="FechaInicio" class="col-sm-3 control-label no-padding-right">Fecha Inicio</label>
                        <div class="col-sm-9">
                            <input id="FechaInicio" type="datetime" class="col-xs-10 col-sm-7 form-control" data-bind="value:reto.fechaInicio, text:reto.fechaInicio" />
                            @*@Html.TextBoxFor(model => model.FechaInicio, new { @class = "col-xs-10 col-sm-7 form-control" })
                                @Html.ValidationMessageFor(model => model.FechaInicio)*@
                        </div>
                    </div>

                </li>
                <li>
                    <div class="form-group">
                        <label for="FechaFin" class="col-sm-3 control-label no-padding-right">Fecha Fin</label>
                        <div class="col-sm-9">
                            <input id="FechaFin" type="datetime" class="col-xs-10 col-sm-7 form-control" data-bind="value:reto.fechaFin, text:reto.fechaFin" />
                            @*@Html.TextBoxFor(model => model.FechaFin, new { @class = "col-xs-10 col-sm-7 form-control" })
                                @Html.ValidationMessageFor(model => model.FechaFin)*@
                        </div>
                    </div>

                </li>
                <li>
                    <div class="form-group">
                        <label for="Tipo" class="col-sm-3 control-label no-padding-right">Tipo</label>
                        <div class="col-sm-9">
                            <input id="Tipo" type="text" class="col-xs-10 col-sm-7 form-control" data-bind="value:reto.tipo, text:reto.tipo" />
                        </div>
                    </div>
                </li>
                <li>
                    <div class="form-group">
                        <label for="IsActivo" class="col-sm-3 control-label no-padding-right">Reto Activo</label>
                        <div class="col-sm-9">
                            <input id="IsActivo" type="checkbox" class="checkbox" data-bind="checked:reto.isActivo" />
                            <!-- , new { @@class = "col-xs-10 col-sm-7 form-control" } -->
                            @*@Html.CheckBoxFor(model => model.IsActivo, new { @class = "checkbox" })
                                @Html.ValidationMessageFor(model => model.IsActivo)*@
                        </div>

                    </div>
                </li>
                <li>
                    <div class="form-group">
                        <label for="Premio" class="col-sm-3 control-label no-padding-right">Premio</label>
                        <div class="col-sm-9">
                            <input id="Premio" type="text" class="col-xs-10 col-sm-7 form-control" data-bind="value:reto.premio, text:reto.premio" />
                            @*@Html.TextBoxFor(model => model.Premio, new { @class = "col-xs-10 col-sm-7 form-control" })
                                @Html.ValidationMessageFor(model => model.Premio)*@
                        </div>
                    </div>

                </li>
                <li>
                    <!-- ko with: deporte -->
                    <hr/>
                    <div class="form-group">
                        <label class="col-sm-3 control-label no-padding-right">Deportes</label>
                        <div class="col-sm-9">
                            <select data-bind=" options: $parent.deportes ,value: name, optionsCaption: 'Elija El Deporte...'"
                                    class="col-xs-10 col-sm-7 form-control"></select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label no-padding-right">Valor</label>
                        <div class="col-sm-9">
                            <input type="number" data-bind="value: valor, text:valor" step="1000" max="100000" min="0"
                                   class="col-xs-10 col-sm-7 form-control" />
                        </div>
                    </div>
                    <div class="form-group">
                        <button class="btn btn-warning col-sm-3 control-label no-padding-right" data-bind="click:$parent.add">Añadir</button>
                    </div>
                    <!-- /ko -->
                    <br />
                    <table class="table table-striped table-condensed" style="margin-top: 20px;">
                        <thead>
                            <tr>
                                <th>Deporte</th>
                                <th>Valor</th>
                            </tr>
                        </thead>
                        <tbody>
                            <!-- ko foreach: reto.deportes -->
                            <tr>
                                <td><label data-bind="text:name"></label></td>
                                <td><label data-bind="text:valor"></label></td>
                            </tr>
                            <!-- /ko -->
                        </tbody>
                    </table>

                    <br/>
                    <br />
                </li>
                <li>
                    <div class="form-group">
                        @Html.ActionLink("Atrás", "Index","Reto",new { @class="btn btn-info"})
                        <button class="btn btn-info" data-bind="click:save">Crear Reto</button>
                        
                    </div>
                </li>
            </ol>
    </div>
</div>    


@section scripts{
    
    <script>
        $(function() {
            $('#FechaInicio').datepicker({ format: "yyyy/mm/dd" });
            $('#FechaFin').datepicker({ format: "yyyy/mm/dd" });
        })
    </script>
    <script src="~/Scripts/Reto/reto.js"></script>
}
