@model IEnumerable<MongoModels.Liga>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create","Liga", new{@class="btn btn-info"} )
</p>
<table class="table table-bordered table-striped">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Plan)
        </th>
        <th>Opciones</th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Plan)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.Id }) |
            @Html.ActionLink("Envitar", "EnviarInvitacion", new { id = item.Id })
        </td>
    </tr>
}

</table>

<div id="msgBox" style="display:none" class="ui-dialog">
    <p style="padding: 7px;">
        @TempData["MessageInvitacion"]
    </p>
</div>
@section scripts{

    @if (null != TempData["MessageInvitacion"])
    {
        <script type="text/javascript">
            $(function () {
                setTimeout(function () {
                    $("#msgBox").dialog({
                        autoOpen: true,
                        show: {
                            effect: "blind",
                            duration: 1000
                        },
                        hide: {
                            effect: "explode",
                            duration: 1000
                        }
                    });
                }, 2000);
            });
        </script>
    }
    
}
