<!DOCTYPE Html>
<html lang="en">
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta charset="utf-8" />
    <title>Prodactive</title>

    <meta name="description" content="overview &amp; stats" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300italic' rel='stylesheet' type='text/css'>
    <!-- bootstrap & fontawesome -->

    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/iThing.css" rel="stylesheet" />
    
    <link rel="stylesheet" href="~/Content/template/assets/css/font-awesome.min.css" />
    <!-- page specific plugin styles -->
    <!-- text fonts -->
    <link rel="stylesheet" href="~/Content/template/assets/css/ace-fonts.css" />
    <!-- ace styles -->
    <link href="~/Content/template/assets/css/fullcalendar.css" rel="stylesheet" />
    <link id="main-ace-style" href="~/Content/template/assets/css/ace.min.css" rel="stylesheet" />
    <link href="~/Content/template/assets/css/ace-skins.min.css" rel="stylesheet" />
    <link href="~/Content/template/assets/css/ace-rtl.min.css" rel="stylesheet" />

    <link href="~/Content/template/assets/css/jquery-ui.min.css" rel="stylesheet" />
    <link href="~/Content/cambios.css" rel="stylesheet" />
    <!-- inline styles related to this page -->
    <!-- ace settings handler -->
    
    <style>
        ol li {
            list-style: none;
        }

        .col-centered {
            float: none;
            margin: 0 auto;
        }
        .footer-content {
            /*background-color: cornflowerblue;*/
            background-color: #03899C;
        }
        #login, #login a, #login ul li a 
        {
            /*color: cadetblue;*/
            color: #03899C;
        }
    </style>
    
    <script>
    (function (i, s, o, g, r, a, m) {
        i['GoogleAnalyticsObject'] = r; i[r] = i[r] || function () {
            (i[r].q = i[r].q || []).push(arguments)
        }, i[r].l = 1 * new Date(); a = s.createElement(o),
        m = s.getElementsByTagName(o)[0]; a.async = 1; a.src = g; m.parentNode.insertBefore(a, m)
    })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');

    ga('create', 'UA-53501429-1', 'auto');
    ga('send', 'pageview');

    </script>

</head>

<body class="no-skin">

    @RenderSection("featured", required: false)
    <!-- #section:basics/navbar.layout -->
    <div id="navbar" class="navbar navbar-default">
        <script type="text/javascript">
            try {
                ace.settings.check('navbar', 'fixed');
            } catch (e) { }
        </script>

        <div class="navbar-container" id="navbar-container">
            <!-- #section:basics/sidebar.mobile.toggle -->
            <button type="button" class="navbar-toggle menu-toggler pull-left" id="menu-toggler">
                <span class="sr-only">Toggle sidebar</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>

            <!-- /section:basics/sidebar.mobile.toggle -->
            <div class="navbar-header">
                <!-- pull-left-->
                <!-- #section:basics/navbar.layout.brand -->
                <a href="#" class="navbar-brand">
                    <small>
                        <i class="fa"></i>
                        <img src="~/Content/Landing/images/Logo_blanco.png" alt="" width="500px;" />
                    </small>
                </a>

                <!-- /section:basics/navbar.layout.brand -->
                <!-- #section:basics/navbar.toggle -->
                <!-- /section:basics/navbar.toggle -->
            </div>

            <!-- #section:basics/navbar.dropdown -->
            <!-- OJO USER TOOLS-->

            <div class="navbar-buttons navbar-header pull-right" role="navigation">
                <ul id="menuSuperior" class="nav ace-nav">
                    <!-- #section:basics/navbar.user_menu -->
                    @Html.Partial("_LoginPartial")


                    <!-- /section:basics/navbar.user_menu -->
                </ul>
            </div>

            <!-- OJO USER TOOLS-->
            <!-- /section:basics/navbar.dropdown -->
        </div><!-- /.navbar-container -->
    </div>

    <!-- /section:basics/navbar.layout -->
    <div class="main-container" id="main-container">
        <script type="text/javascript">
            try {
                ace.settings.check('main-container', 'fixed');
            } catch (e) { }
        </script>

        <!-- fin aside-->
        <!-- ASIDE -->
        @Html.Partial("_Menu")
        <!-- ASIDE -->
        <!-- /section:basics/sidebar -->
        <div class="main-content">
            <!-- #section:basics/content.breadcrumbs -->
            @{
                Html.RenderPartial("~/Views/Shared/_breadcrumbs.cshtml");
            }

            @*@RenderSection("breadcrumbs", required: false)*@

            <!-- /section:basics/content.breadcrumbs -->
            <div class="page-content">
                <div id="main" class="page-content-area">
                    @{
                        Html.RenderPartial("~/Views/Shared/_pagename.cshtml");
                    }
                    @*@RenderSection("pagename", required: false)*@

                    <!-- BODY BEGIN -->
                    @RenderBody()

                    <div id="dialog-message" class="hide">
                        <p>
                            <span id="dialog-message-text"></span>
                        </p>
                    </div><!-- #dialog-message -->
                    <!-- BODY END -->
                </div><!-- /.page-content-area -->


            </div><!-- /.page-content -->
        </div><!-- /.main-content -->
    </div><!-- /.main-container -->
    <footer class="footer">
        <div class="footer-inner">
            <!-- #section:basics/footer -->
            <div class="footer-content">
                <span class="bigger-120" style="color:white;">
                    <span class="bolder">Prodactive</span>
                    &copy; 2014
                </span>

                &nbsp; &nbsp;
                <span class="action-buttons">
                    <a href="https://twitter.com/beprodactive" target="_black">
                        <i class="ace-icon fa fa-twitter-square light-blue bigger-150"></i>
                    </a>

                    <a href="https://www.facebook.com/prodactive.co" target="_black">
                        <i class="ace-icon fa fa-facebook-square text-primary bigger-150"></i>
                    </a>

                    @*<a href="#">
                            <i class="ace-icon fa fa-rss-square orange bigger-150"></i>
                        </a>*@
                </span>
            </div>

            <!-- /section:basics/footer -->
        </div>
    </footer>


    @*basic scripts*@

    <script src="~/Scripts/jquery-2.1.1.js"></script>
    <script src="~/Scripts/jquery.unobtrusive-ajax.js"></script>
    <script src="~/Content/template/assets/js/ace-extra.min.js"></script>
    <script src="~/Scripts/jquery-ui-1.8.24.js" type="text/javascript"></script>
    <script src="~/Scripts/jquery.validate.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.js"></script>
    <script src="~/Scripts/knockout-3.1.0.js"></script>
    <script src="~/Scripts/underscore-min.js"></script>
    <script src="~/Scripts/moment.js"></script>
    <script src="~/Content/template/assets/js/bootstrap.min.js"></script>
    <script src="~/Content/template/assets/js/date-time/bootstrap-datepicker.min.js"></script>
    <script src="~/Scripts/galleria-1.4.js"></script>
    @*-- page specific plugin scripts --*@
    <script src="~/Content/template/assets/js/jquery-ui.min.js"></script>
    <script src="~/Content/template/assets/js/jquery-ui.custom.min.js"></script>
    <script src="~/Content/template/assets/js/jquery.ui.touch-punch.min.js"></script>
    <script src="~/Content/template/assets/js/jquery.easypiechart.min.js"></script>
    <script src="~/Content/template/assets/js/jquery.sparkline.min.js"></script>
    <script src="~/Content/template/assets/js/jquery.colorbox-min.js"></script>
    <script src="~/Content/template/assets/js/uncompressed/fullcalendar.js"></script>
    <script src="~/Scripts/jcarousellite_1.0.2.js"></script>
    <script src="~/Scripts/ddSlick.js"></script>
    @*-- ace scripts --*@
    <script src="~/Content/template/assets/js/ace-elements.min.js"></script>
    <script src="~/Content/template/assets/js/ace.min.js"></script>
    <!-- SignalR -->
    <script src="~/Scripts/jquery.signalR-2.1.1.min.js"></script>
    <script src="~/signalr/hubs"></script>
    <!-- /SignalR -->

    <script src="~/Scripts/countdown.js"></script>
    <script src="~/Scripts/moment-countdown.js"></script>

    @*@Scripts.Render("~/bundles/all")*@
    <script src="~/Content/template/assets/js/flot/jquery.flot.min.js"></script>
    <script src="~/Content/template/assets/js/flot/jquery.flot.resize.min.js"></script>
    <script src="~/Content/template/assets/js/flot/jquery.flot.time.js"></script>
    <script src="~/Content/template/assets/js/flot/jquery.flot.labels.js"></script>
    <script src="~/Content/template/assets/js/flot/jquery.flot.tooltip.js"></script>
    <script src="~/Scripts/jQDateRangeSlider-min.js"></script>
    <script src="~/Scripts/numeral/numeral.js"></script>
    <script src="~/Scripts/knockout.mapping-latest.debug.js"></script>
    <script src="~/Scripts/site.js"></script>
    <script src="~/Scripts/Model/KnockoutHelpers.js"></script>
    <script src="~/Scripts/Model/page.js"></script>
    <!--se añade modelo knockout desde aca -->
    <script type="text/javascript">
        if ('ontouchstart' in document.documentElement) document.write("<script src='~/Content/template/assets/js/jquery.mobile.custom.min.js'>" + "<" + "/script>");
    </script>
    @RenderSection("scripts", required: false)
</body>
</html>
