<li class="grey">
    <a data-toggle="dropdown" class="dropdown-toggle" href="#">
        <i class="ace-icon fa fa-tasks"></i>
        <!--span> class="badge badge-grey">4</!--span-->
    </a>

    <ul class="dropdown-menu-right dropdown-navbar dropdown-menu dropdown-caret dropdown-close">
        <li class="dropdown-header">
            <i class="ace-icon fa fa-check"></i>
            Ligas
        </li>
        <!-- ko foreach: ligas -->
        <li>
            <a href="#" data-bind="click: $root.selectLiga">
                <div class="clearfix">
                    <span class="pull-left" data-bind="text:nombre"></span>
                    <br/>
                    <!-- ko if:propia -->
                    <button data-bind="click:$root.showEnvioInvitacion" class="btn btn-sm btn-white btn-default btn-round">Enviar Invitacion<span class="pull-right badge badge-success" data-bind="text:invitacionesDisponibles"></span></button>
                    
                    <!-- /ko -->
                    <!--<span class="pull-right">65%</span>-->
                </div>

                <!--div class="progress progress-mini">
                    <div style="width:65%" class="progress-bar"></div>
                </div-->
            </a>
        </li>
        <!-- /ko-->

        <li class="dropdown-footer">
            <a href="#">
                See tasks with details
                <i class="ace-icon fa fa-arrow-right"></i>
            </a>
        </li>
    </ul>
</li>

<li class="purple">
    <a data-toggle="dropdown" class="dropdown-toggle" href="#">
        <i class="ace-icon fa fa-bell icon-animated-bell"></i>
        <!--
        <span class="badge badge-important">8</span>-->
    </a>

    <ul class="dropdown-menu-right dropdown-navbar navbar-pink dropdown-menu dropdown-caret dropdown-close">
        <li class="dropdown-header">
            <i class="ace-icon fa fa-exclamation-triangle"></i>
            Notificaciones
        </li>
        
        <!--
        <li>
            <a href="#">
                <div class="clearfix">
                    <span class="pull-left">
                        <i class="btn btn-xs no-hover btn-pink fa fa-comment"></i>
                        New Comments
                    </span>
                    <span class="pull-right badge badge-info">+12</span>
                </div>
            </a>
        </li>

        <li>
            <a href="#">
                <i class="btn btn-xs btn-primary fa fa-user"></i>
                Bob just signed up as an editor ...
            </a>
        </li>

        <li>
            <a href="#">
                <div class="clearfix">
                    <span class="pull-left">
                        <i class="btn btn-xs no-hover btn-success fa fa-shopping-cart"></i>
                        New Orders
                    </span>
                    <span class="pull-right badge badge-success">+8</span>
                </div>
            </a>
        </li>

        <li>
            <a href="#">
                <div class="clearfix">
                    <span class="pull-left">
                        <i class="btn btn-xs no-hover btn-info fa fa-twitter"></i>
                        Followers
                    </span>
                    <span class="pull-right badge badge-info">+11</span>
                </div>
            </a>
        </li>
        
        -->

        <li class="dropdown-footer">
            <a href="#">
                See all notifications
                <i class="ace-icon fa fa-arrow-right"></i>
            </a>
        </li>
    </ul>
</li>

<li class="green">
    <a data-toggle="dropdown" class="dropdown-toggle" href="#">
        <i class="ace-icon fa fa-envelope icon-animated-vertical"></i>
        <!-- 
            <span class="badge badge-success">5</span>-->
    </a>

    <ul class="dropdown-menu-right dropdown-navbar dropdown-menu dropdown-caret dropdown-close">
        <li class="dropdown-header">
            <i class="ace-icon fa fa-envelope-o"></i>
            Mensajes
        </li>

        <li class="dropdown-content">
            <ul class="dropdown-menu dropdown-navbar">
                <!--
                    <li>
                        <a href="#">
                            <img src="~/Content/template/assets/avatars/avatar.png" class="msg-photo" alt="Alex's Avatar" />
                            <span class="msg-body">
                                <span class="msg-title">
                                    <span class="blue">Alex:</span>
                                    Ciao sociis natoque penatibus et auctor ...
                                </span>

                                <span class="msg-time">
                                    <i class="ace-icon fa fa-clock-o"></i>
                                    <span>a moment ago</span>
                                </span>
                            </span>
                        </a>
                    </li>
                
                    <li>
                        <a href="#">
                            <img src="~/Content/template/assets/avatars/avatar3.png" class="msg-photo" alt="Susan's Avatar" />
                            <span class="msg-body">
                                <span class="msg-title">
                                    <span class="blue">Susan:</span>
                                    Vestibulum id ligula porta felis euismod ...
                                </span>

                                <span class="msg-time">
                                    <i class="ace-icon fa fa-clock-o"></i>
                                    <span>20 minutes ago</span>
                                </span>
                            </span>
                        </a>
                    </li>

                    <li>
                        <a href="#">
                            <img src="~/Content/template/assets/avatars/avatar4.png" class="msg-photo" alt="Bob's Avatar" />
                            <span class="msg-body">
                                <span class="msg-title">
                                    <span class="blue">Bob:</span>
                                    Nullam quis risus eget urna mollis ornare ...
                                </span>

                                <span class="msg-time">
                                    <i class="ace-icon fa fa-clock-o"></i>
                                    <span>3:15 pm</span>
                                </span>
                            </span>
                        </a>
                    </li>

                    <li>
                        <a href="#">
                            <img src="~/Content/template/assets/avatars/avatar2.png" class="msg-photo" alt="Kate's Avatar" />
                            <span class="msg-body">
                                <span class="msg-title">
                                    <span class="blue">Kate:</span>
                                    Ciao sociis natoque eget urna mollis ornare ...
                                </span>

                                <span class="msg-time">
                                    <i class="ace-icon fa fa-clock-o"></i>
                                    <span>1:33 pm</span>
                                </span>
                            </span>
                        </a>
                    </li>

                    <li>
                        <a href="#">
                            <img src="~/Content/template/assets/avatars/avatar5.png" class="msg-photo" alt="Fred's Avatar" />
                            <span class="msg-body">
                                <span class="msg-title">
                                    <span class="blue">Fred:</span>
                                    Vestibulum id penatibus et auctor  ...
                                </span>

                                <span class="msg-time">
                                    <i class="ace-icon fa fa-clock-o"></i>
                                    <span>10:09 am</span>
                                </span>
                            </span>
                        </a>
                    </li>
                
                    -->
            </ul>
        </li>

        <li class="dropdown-footer">
            <a href="inbox.html">
                Ver todos los mensajes
                <i class="ace-icon fa fa-arrow-right"></i>
            </a>
        </li>
    </ul>
</li>

<li class="light-blue">

    
        @if (Request.IsAuthenticated)
        {
            <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                <i class="ace-icon fa fa-gears icon-animated-vertical"></i>
                <span class="badge badge-success" data-bind="text:user"></span>
                @*<span class="badge badge-success" data-bind="text:user">@User.Identity.Name</span>*@
            </a>
            <ul class="dropdown-menu-right dropdown-navbar dropdown-menu dropdown-caret dropdown-close">
                <li class="dropdown-header">
                    <i class="ace-icon fa fa-envelope-o"></i>
                    Opciones
                </li>

                <li class="dropdown-content">
                    <ul class="dropdown-menu dropdown-navbar">
                        <li>
                            <a href="#">
                                <img data-bind="attr: { src: urlAvatar } " class="msg-photo" alt="avatar" />
                                @*<img src="~/Content/template/assets/avatars/avatar2.png" class="msg-photo" alt="avatar" />*@
                                <span class="msg-body">
                                    @*<span class="msg-title">
                                            <span class="blue">Alex:</span>

                                        </span>*@

                                    <span class="msg-time">
                                        <i class="ace-icon fa fa-clock-o"></i>
                                        <span>
                                            <text>
                                                @Html.ActionLink("Administrar", "Manage", "Account", routeValues: null, htmlAttributes: new { @class = "username", title = "Administrar" })
                                                @using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm" }))
                                                {
                                                    @Html.AntiForgeryToken()
                                                    <a href="javascript:document.getElementById('logoutForm').submit()">Cerrar sesión</a>
                                                }
                                            </text>
                                        </span>
                                    </span>
                                </span>
                            </a>
                        </li>
                    </ul>

                </li>
            </ul>


        }
        else
        {
            <ul>
                <li>@Html.ActionLink("Registrarse", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>
                <li>@Html.ActionLink("Iniciar sesión", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
            </ul>
        }
    
</li>